network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      addresses:
        - {{ pi_ip_address }}/24
      gateway4: 192.168.0.1 
      nameservers:
          search: [mydomain, otherdomain]
          addresses: [8.8.8.8, 8.8.4.4]
