global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

rule_files:
  - {{ prometheus_config_dir }}/rules/ansible_managed.rules

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093

scrape_configs:
  - job_name: 'node'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.0.110:1994']
        labels:
          service: 'monitoring/alerting'
          environment: 'bakery'

      - targets: ['192.168.0.111:1994']
        labels:
          environment: 'bakery'

      - targets: ['192.168.0.112:1994']
        labels:
          environment: 'bakery'

      - targets: ['192.168.0.113:1994']
        labels:
          service: 'vpn'
          environment: 'bakery'

  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'
          environment: 'bakery'
